 {% extends "global.html" %} 



{% block content %}


    <p><span id="id_name_of_page">Follower Stream</span></p>
    <br>

    <div id="follower_container"></div>
<!-- 
    {% for post in posts %}
        {% if error %}
            <div class="error">
                {{error}}
            </div>
        {% endif %}            
        
        {% if post.username in followlist %}
            Post by
            {{user.id}}    {{post.user_id}}   -->
            <!-- user.id is id for current user, post.user_id is id for who post it -->
            <!-- <a href="{% url 'other_profile' post.user_id %}" id='id_post_profile_{{post.id}}'>
                {{post.user.get_full_name }} {{post.user_id}}                   
            </a>
            - <span id='id_post_text_{{post.id}}'>{{post.post_input_text}}</span>
            -- <span id='id_post_date_time_{{post.id}}'>
                {{post.datetime}}
                </span>

            <ol id = "comment-list_{{post.id}}">
            </ol>

        <div>
            <label for="">Comment: </label>             
            <input type="text" id = "id_comment_input_text_{{post.id}}" name = "item">
            <button onclick="addComment(this)" value="{{post.id}}">Submit</button>  -->
            <!-- 把post.id通过this传入js中addComment -->
            <!-- <span id="error" class="error"></span>

        </div> 
        {% endif %}

        
    {% endfor %} -->

    <script>
        // Save this user's username so the JS can see it to determine whether show delete buttons
        // var myUserName = "{{ request.user.username }}"
    
        // The index.html does not load the list, so we call getList() as soon as page is finished loading
        window.onload = refreshFollower;
    
        // ... also re-fetch the list by calling getList every 5 seconds!
        window.setInterval(refreshFollower, 5000);
    </script>


{% endblock %}